<h1>Sample App</h1>

<p>Hi <%= @teacher.name %>,</p>

<p>
Password Reset
</p>

<%= link_to "Password Reset", edit_teacher_password_reset_url(@teacher.reset_token,
                                                              email: @teacher.email) %>
