<div class="bg-primary pt-5 h-100vh">
    <div class="bg-yellow text-center">
        <h2 class="pt-2 pb-2"><%= @user.name %></h2>
    </div>
    <div class="bg-yellow text-center">
        <h2 class="pt-2 pb-2"><%= @user.email %></h2>
    </div>
    <div class="text-center container bg-white mt-5 pb-5">
        <div class="d-flex justify-center">
            <% if current_user.id == @user.id %>
                <%= button_to 'ログアウト', user_path(@user.id), class: 'btn__half btn__delete', method: :delete %>
            <% end %>
        </div> 
    </div>
</div>